/* 大勝ちしたときに収支を虹色で回す。@keyframes は class で書けないため CSS に置く */
@keyframes gaming {
	0% {
		color: #009944;
	}
	14% {
		color: #0068b7;
	}
	28% {
		color: #1d2088;
	}
	42% {
		color: #920783;
	}
	56% {
		color: #e60000;
	}
	70% {
		color: #f39800;
	}
	85% {
		color: #fff100;
	}
	to {
		color: #009944;
	}
}
