.gamble-rumble {
	max-width: 1000px;
	margin-inline: auto;
}

.gamble-rumble section {
	margin-bottom: 20px;
}

.gamble-rumble .caution {
	position: relative;
	width: fit-content;
	padding: 8px 32px 8px 56px;
	border: 2px solid #cc0000;
	background-color: #ffe0e0;
	color: #cc0000;
}

.gamble-rumble .caution > p::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 32px;
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20clip-path='url(%23clip0_320_107)'%3e%3cpath%20d='M12%2022C17.5%2022%2022%2017.5%2022%2012C22%206.5%2017.5%202%2012%202C6.5%202%202%206.5%202%2012C2%2017.5%206.5%2022%2012%2022ZM11.3%206.5H12.8V14H11.3V6.5ZM12%2015.5C12.6%2015.5%2013%2015.9%2013%2016.5C13%2017.1%2012.6%2017.5%2012%2017.5C11.4%2017.5%2011%2017.1%2011%2016.5C11%2015.9%2011.4%2015.5%2012%2015.5Z'%20fill='%23CC0000'/%3e%3c/g%3e%3cdefs%3e%3cclipPath%20id='clip0_320_107'%3e%3crect%20width='24'%20height='24'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.gamble-rumble .expenses-buttons,
.gamble-rumble .unit-buttons {
	display: flex;
	width: 100%;
	gap: 1rem;
}

.gamble-rumble .deficit {
	color: red;
}

.gamble-rumble .rainbow {
	animation: 2s gaming linear infinite;
}

@keyframes gaming {
	0% {
		color: #009944;
	}
	14% {
		color: #0068b7;
	}
	28% {
		color: #1d2088;
	}
	42% {
		color: #920783;
	}
	56% {
		color: #e60000;
	}
	70% {
		color: #f39800;
	}
	85% {
		color: #fff100;
	}
	to {
		color: #009944;
	}
}

.gamble-rumble .unit-select-item {
	width: 100px;
	height: 100px;
	padding: 0;
	border: 2px solid #cccccc;
	background: none;
	cursor: pointer;
	user-select: none;
}

@media screen and (min-width: 768px) {
	.gamble-rumble .unit-select-item {
		width: 200px;
		height: 200px;
	}
}

.gamble-rumble .unit-select-item > img {
	width: 100%;
	height: auto;
}

.gamble-rumble .unit-select-item.selected {
	border-color: brown;
}
